body {
  background-color:white;
  color:black;
  font-size:12px;
  font-family:helvetica, arial, sans-serif;
  margin:0px;
  line-height:22px;
  padding:20px;
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
}